.shop-container{
    border: 2px solid rgb(240, 176, 59);
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    background-color:rgb(245, 236, 231);
    border-radius: 2px;
    padding-bottom: 40px;
    padding-top: 40px;

}

.products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:45px;
    /* margin: 100px 50px; */
    margin-left: 20px;
    /* background-color:aliceblue; */
    border-radius: 4px;
    /* position: relative; */
}

.cart-container{
    position: relative;
    background-color: rgb(209, 147, 160);
    height: 600px;
    border-radius: 5px;
    margin: 20px;
    position: sticky;
    top: 10px;
}
.pro-sum{
    padding-left: 10px;
    position: fixed;
    border-radius: 10px;
}

.choose-btn{
    padding-left: 10px;
}



.choose-btn{
    width: 50%;
    background-color: rgb(248, 200, 136);
    border: none;
    border-radius: 8px 8px 8px 8px;
    padding-left: 10px;

}

.choose-btn:hover{
    background-color: rgb(12, 155, 199);
}

.choose-btn-text{
    margin-right: 10px;
    font-weight: 700;
}
/* TODO:   responsive  */
@media screen and (max-width:600px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 0%;
    }
    .shop-container{
        grid-template-columns: repeat(1,1fr);
        height: auto;
        width: auto;
        margin: 0%;
    }
}



